# client dependencies
/client/node_modules
/client/.pnp
/client/.yarn/*
/client/.pnp.*
/client/!.yarn/patches
/client/!.yarn/plugins
/client/!.yarn/releases
/client/!.yarn/versions

# testing
/client/coverage

# next.js
/client/.next/
/client/out/

# production
/client/build

# misc
/client/.DS_Store
/client/*.pem

# debug
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/client/.env*

# vercel
/client/.vercel

# typescript
/client/*.tsbuildinfo
/client/next-env.d.ts


# server dependencies

/server/node_modules
/server/.vercel
/server/.env
/server/api/__pycache__
